.icon-container-before-input {
    width: 40px;
    height: 100%;
    display: flex;
    align-items: center;
}

.authorization-form-container {
    max-width: 400px;
}

.blue-card-header {
    background-color: #006bb7 !important
}

.benefits-list {
    font-size: 17px;
}

.subscription-switch {
    transform: scale(2.0);
    background-color: LightGray;
    border-color: Gray;
}

.subscription-switch:checked {
    background-color: #006bb7;
    border-color: #004272;
}

.subscription-switch:focus {
    outline: none;
    box-shadow: none;
}

.subscription-switch-header {
    font-size: 18px;
    font-weight: 600;
}
