@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row d-flex align-items-center justify-content-end px-4">
            <p class="mb-0">&copy; Ypdf 2021-2025</p>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
