.file-upload-container {
    border: 2px solid #d3d3d3;
    border-radius: 5px;
}

.file-list-container {
    border: 2px solid #d3d3d3;
    border-radius: 5px;
}

.sortable-file-list-item {
    display: flex;
}

.sortable-file-list-item:not(:last-child) {
    border-bottom: 2px solid #d3d3d3;
}
