@page "/tools"
@rendermode InteractiveServer

@using Ypdf.Web.Domain.Models

@inject ICurrentUserService CurrentUserService

<PageTitle>Tools</PageTitle>

<h2 class="text-center my-4 bold-title">
    PDF Tools
</h2>
<h4 class="text-center mb-4 gray-subtitle">
    All tools are completely free and have no limitations
</h4>

<div class="container my-4">
    <div class="row justify-content-center">
        <div class="col-md-3 mb-4">
            <a href="/tools/merge" class="card text-center text-decoration-none">
                <div class="card-body">
                    <i class="fas fa-compress fa-3x mb-2"></i>
                    <h5 class="card-title">Merge PDF</h5>
                    <p class="card-text">Combine multiple PDF files into one</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="/tools/split" class="card text-center text-decoration-none">
                <div class="card-body">
                    <i class="fas fa-cut fa-3x mb-2"></i>
                    <h5 class="card-title">Split PDF</h5>
                    <p class="card-text">Split a PDF file into multiple parts</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="/tools/compress" class="card text-center text-decoration-none">
                <div class="card-body">
                    <i class="fas fa-file-archive fa-3x mb-2"></i>
                    <h5 class="card-title">Compress PDF</h5>
                    <p class="card-text">Reduce the size of your PDF files</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="/tools/pdf-to-txt" class="card text-center text-decoration-none">
                <div class="card-body">
                    <i class="fas fa-file-alt fa-3x mb-2"></i>
                    <h5 class="card-title">PDF to TXT</h5>
                    <p class="card-text">Convert PDF files to plain text</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 mb-4">
            <a href="/tools/images-to-pdf" class="card text-center text-decoration-none">
                <div class="card-body">
                    <i class="fas fa-image fa-3x mb-2"></i>
                    <h5 class="card-title">Images to PDF</h5>
                    <p class="card-text">Convert images into a PDF document</p>
                </div>
            </a>
        </div>
        @if (CurrentUserService.User?.UserSubscription?.Subscription?.SubscriptionType == SubscriptionType.Trial)
        {
            <div class="col-md-3 mb-4">
                <a href="/tools/echo" class="card text-center text-decoration-none">
                    <div class="card-body">
                        <i class="fas fa-redo fa-3x mb-2"></i>
                        <h5 class="card-title">Echo PDF</h5>
                        <p class="card-text">Repeat the content of a PDF document</p>
                    </div>
                </a>
            </div>
        }
        @if (CurrentUserService.User?.UserSubscription?.Subscription?.SubscriptionType == SubscriptionType.Standard)
        {
            <div class="col-md-3 mb-4">
                <a href="/tools/copy" class="card text-center text-decoration-none">
                    <div class="card-body">
                        <i class="fas fa-copy fa-3x mb-2"></i>
                        <h5 class="card-title">Copy PDF</h5>
                        <p class="card-text">Repeat the content of a PDF document</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<link rel="stylesheet" href="css/tools.css" />
<link rel="stylesheet" href="css/components/title.css" />
