@page "/result/{filename}"
@rendermode InteractiveServer

<PageTitle>Result</PageTitle>

<h2 class="text-center my-4 bold-title">
    Download Result
</h2>
<h4 class="text-center mb-4 gray-subtitle">
    You can already get the result. It will be available for download within 24 hours
</h4>

<div class="text-center">
    <a href="@ResultPath" class="btn btn-primary btn-lg">Download Now</a>
</div>

@code
{
    [Parameter]
    public string? FileName { get; set; }

    private string ResultPath => !string.IsNullOrEmpty(FileName)
        ? EndpointUrls.OutputFile(FileName).ToString()
        : "/";
}
