@page "/result-not-recieved"
@rendermode InteractiveServer

<PageTitle>ResultNotRecieved</PageTitle>

<h2 class="text-center my-4 bold-title">
    Result Not Recieved
</h2>
<h4 class="text-center mb-4 gray-subtitle">
    Unfortunately, we were unable to obtain any results. Please try using the tool again later
</h4>

<link rel="stylesheet" href="css/components/title.css" />
